# fly.toml app configuration file generated for veh-backend-django on 2025-11-07T21:15:34+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'veh-backend-django'
primary_region = 'jnb'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

# Volume pour stocker les fichiers media
[[mounts]]
  source = "veh_backend_media"
  destination = "/code/media"

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
